$primrary:#f9f9f9;
$secondary:#ece8e1;
$background:#0f1923;
$black:#111111;

$error:#ff4655;
$success:#2fffcf;


@keyframes spinner{
		from{
			transform: rotateX(0deg);
		}
		to{
			transform: rotateX(360px);
		}
	}